@import "bulma.min.css";

:root {
    --t-brand-primary: #6680bb;
    --t-brand-darker: #4f6391;
    --t-brand-compl: #bb7666;
}

.hero.is-primary {
    background: linear-gradient(to top right, var(--t-brand-darker), var(--t-brand-primary));
}